body {
  font-family: sans-serif;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image-carousel {
  background-color: #000;
  height: 400px;
  overflow: hidden;
  width: min(600px, 100vw);
  position: relative;
}
.image-carousel img {
  object-fit: contain;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
.btn {
  padding: 8px 12px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
  height: 100vh;
  width: 100vw;
}
.btn {
  --size: 40px;
  height: var(--size);
  width: var(--size);

  background-color: #0008;
  border-radius: 100%;
  border: none;
  color: #fff;
  cursor: pointer;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.image-carousel .btn:hover {
  background-color: #000b;
}

.btn-prev {
  left: 16px;
}

.btn-next {
  right: 16px;
}
.pages {
  position: absolute;
  bottom: 15px; /* distance from bottom of image */
  left: 50%;
  transform: translateX(-50%);
  background-color: #666;
  display: flex;
  gap: 8px;
  border-radius: 10px;
  padding: 5px;
}

.pages-button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;

  background-color: rgb(42, 41, 41); 
  cursor: pointer;
}

.pages-button.active {
  background-color: #fff;
}

